.graph {
	height: 24.3056vw;
	margin: 2.2222vw 0;
	border: 1px solid #d9d9d9;
	border-radius: 8px;

	&__inner {
		padding: 1.3889vw;

		&_box {
			@include flex(start, center);

			&_name {
				margin: 0 10px;
				font-size: 0.9722vw;
			}
		}
	}
}
