* {
	font-family: pretendard;
}

.modal-password {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70vh;
	height: 60vh;
	border: 1px solid lightgray;
	border-radius: 8px;
	background: #fff;
	z-index: 1000;

	.__title {
		font-size: 3vh;
		margin-bottom: 8vh;
	}

	.__area {
		margin-bottom: 3vh;
		width: 80%;

		.__input-title {
			font-size: 2vh;
		}

		.__input {
			width: 100%;
			height: 7vh;
			margin-top: 1vh;
			font-size: 2vh;
			padding: 0 1vh;
			box-sizing: border-box;
		}
	}

	.__btn-area {
		display: flex;
		justify-content: space-between;
		width: 80%;

		.__btn,
		.__cancel-btn {
			width: 8vh;
			height: 4vh;
			font-size: 2vh;
			border: none;
			border-radius: 1vh;
			cursor: pointer;
		}

		.__btn {
			background: #065fd4;
			color: #fff;
			margin-right: 1vh;
		}

		.__cancel-btn {
			background: grey;
			color: #fff;
		}
	}
}
