input {
	border-radius: 8px;
	border: 1px solid #d8d8d8;
}

input:focus {
	outline: none;
}

button {
	border: none;
	background: white;
}

.edit-profile-modal {
	z-index: 10;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 1px solid #d8d8d8;
	width: 50vh;
	height: 49vh;
	background: white;
	@include column-flex;
	.name-area {
		@include flex;
		.__input-name {
			font-size: 2vh;
			.input-name-box {
				font-size: 1.5vh;
				width: 21vh;
				height: 5vh;
				margin: 0 0.7vh 0.5vh 0;
			}
		}
		.input-channel-name {
			font-size: 2vh;
			.input-name-box {
				font-size: 1.5vh;
				width: 20vh;
				height: 5vh;
				margin: 0 0 0.5vh 0.7vh;
			}
		}
	}
	.email-input {
		font-size: 2vh;
		.email-input-box {
			font-size: 1.5vh;
			width: 42.5vh;
			height: 5vh;
			margin-bottom: 1vh;
		}
	}

	.password-input {
		font-size: 2vh;
		.password-input-box {
			font-size: 1.5vh;
			width: 39.5vh;
			height: 5vh;
			margin-bottom: 1vh;
		}
		.toggle-password-btn {
			font-size: 1.5vh;
		}
	}

	.modal-btn {
		margin: 3vh;
		.close-btn {
			font-size: 1.5vh;
			width: 11vh;
			height: 4.2vh;
			border: 1px solid black;
			background: white;
			border-radius: 4px;
			margin-right: 3vh;
			cursor: pointer;
		}

		.edit-btn {
			font-size: 1.5vh;
			width: 11vh;
			height: 4.2vh;
			border: none;
			color: white;
			background: #065fd4;
			border-radius: 4px;
			cursor: pointer;
		}
	}
}
