* {
	font-family: pretendard;
}

.find-password {
	width: 1440px;
	height: 1024px;
	background: #f9f9f9;
	@include flex;

	.wrapper {
		width: 432px;
		height: 419px;
		border-radius: 8px;
		background: #ffffff;
		.header {
			margin: 20px;
			@include flex;
		}
	}
}

.find-password-content {
	margin-bottom: 10px;
	@include column-flex;

	.title {
		font-size: 18px;
	}
}

.input-area {
	@include column-flex;
	.input-box {
		width: 368px;
		height: 50px;
		margin-bottom: 10px;
		border: 1px solid lightgrey;
		border-radius: 8px;
		padding-left: 10px;
		&:focus {
			outline: none;
		}
	}
}

.find-password-password-area {
	@include flex(start);
	padding-left: 30px;
	.find-password-password {
		padding: 0 3px;
		color: #065fd4;
		font-size: 14px;
		cursor: pointer;
	}
}

.footer {
	margin: 70px 20px;
	@include flex(between);
	.password-login-btn {
		color: #065fd4;
		cursor: pointer;
	}
	.pass-btn {
		color: #fff;
		background: #065fd4;
		border: none;
		width: 110px;
		height: 42px;
		border-radius: 4px;
		cursor: pointer;
	}
}
