* {
	font-family: pretendard;
}

.home {
	height: 100vh;
	margin-left: 250px;
	padding: 3.91vh;
	background: #f9f9f9;

	@include column-flex(start, start);

	.header {
		width: 100%;
		margin-top: 5.86vh;
		border-bottom: 1px solid lightgrey;
		font-size: 2.34vh;
		padding-bottom: 1.56vh;
	}

	.board-wrapper {
		width: 100%;

		.first-line {
			@include flex(between, start);
			margin: 3.13vh 0;

			.information-channel-area {
				width: 49%;
				height: 33vh;
				border-radius: 8px;
				background: #fff;
				font-size: 2vh;
				border: 1px solid #d9d9d9;
				padding: 1.39vh 1.39vw;

				.__content-title {
					@include flex(between);
					font-size: 1.95vh;
					margin: 1vh 0 4.5vh 0;
				}

				.edit-btn {
					font-size: 1.5vh;
					width: 8vh;
					height: 3vh;
					border-radius: 4px;
					border: 1px solid #d9d9d9;
					background: #fff;
					cursor: pointer;
				}

				.__content {
					@include flex(between);
					margin: 2.3vh 0;
					font-size: 1.56vh;
				}
			}

			.shorts-area {
				width: 49%;
				height: 33vh;
				border-radius: 8px;
				background: #fff;
				border: 1px solid #d9d9d9;
				padding: 1.39vh 1.39vw;

				.__content-title {
					@include column-flex(center, start);
					font-size: 1.95vh;
					margin: 1vh 0;
				}

				.video {
					position: relative;
					height: 25vh;

					iframe {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
				}
			}
		}

		.schedule-area {
			background: #fff;
			border-radius: 8px;
			margin-top: 2.5vh;
			border: 1px solid #d9d9d9;
			padding: 1.39vh 1.39vw;

			.__title {
				@include flex(between);
				font-size: 2vh;
				margin: 1vh 0 3vh 0;
			}

			.__btn {
				margin: 0.3vh;
			}

			.schedule {
				margin: auto;

				.__table {
					width: 100%;
					border-collapse: collapse;

					thead {
						th {
							border: 1px solid #d9d9d9;
							padding: 1vh;
							white-space: nowrap;
							width: 16.5vh;
							height: 3.7vh;
							font-size: 1.5vh;

							&:nth-child(1) {
								color: #ff0000;
								background-color: #fafafa;
							}

							&:nth-child(7) {
								color: #065fd4;
								background-color: #fafafa;
							}
							&.today {
								background: lightgrey;
							}
						}
					}

					tbody td {
						border: 1px solid #d9d9d9;
						padding: 1vh;
						white-space: nowrap;
						width: 16.5vh;
						height: 20vh;
						font-size: 1.5vh;
						overflow: auto;

						&:nth-child(1) {
							background-color: #fafafa;
						}

						&:nth-child(7) {
							background-color: #fafafa;
						}

						.date {
						}
					}
				}
			}
		}
	}
}
