.page-container {
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	.page-wrapper {
		margin-top: 20%;
		.page-title {
			font-size: 10vh;
		}
		.page-content {
			font-size: 2vh;
		}
	}
}
