.request_modal {
  position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
  @include flex;

  &_wrapper {
		width: 50vw;
		height: 37vh;
		border-radius: 8px;
		padding: 3.22vh 2.22vw;
		background-color: #fff;
    
  }

  &_contents {
    padding-bottom: 10px;
    gap: 1vw;
    @include flex;

    .item {
      width: 50%;
      @include column-flex;

      &__detail {
        width: 100%;
        @include column-flex;
      }

      .input_box {
        max-width: 100vw;
        height: 50px;
        border: 1px solid lightgrey;
        border-radius: 8px;
        font-size: 16px;
        color: #6D6F71;
        &:focus {
          outline: none;
        }
      }  
    }

    .input_box {
      width: 100%;
      // max-width: 515px;
      height: 50px;
      margin-bottom: 10px;
      padding-left: 10px;
      border: 1px solid lightgrey;
      border-radius: 8px;
      font-size: 16px;
      color: #6D6F71;
      &:focus {
        outline: none;
      }
    }

    .input_title {
      width: 100%;
      margin-bottom: 5px;
      color: #282828;
    }
  }

  &_close {
    width: 110.5px;
    height: 42px;
    border: 1px solid #6D6F71;
    border-radius: 4px;
    color: #6d6f71;
    background-color: #fff;
    @include flex;
  }
}