.request_modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	@include flex;

	&_wrapper {
		width: 50vw;
		height: 39vh;
		border-radius: 8px;
		padding: 3.22vh 2.22vw;
		background-color: #fff;
	}

	&_contents {
		padding-bottom: 0.9766vh;
		gap: 1vw;
		@include flex;

		.item {
			width: 50%;
			@include column-flex;

			&__detail {
				width: 100%;
				@include column-flex;
			}

			.input_box {
				max-width: 100vw;
				height: 4.8828vh;
				border: 1px solid lightgrey;
				border-radius: 8px;
				font-size: 1.5625vh;
				color: #6d6f71;
				&:focus {
					outline: none;
				}
			}
		}

		.input_box {
			width: 100%;
			height: 4.8828vh;
			margin-bottom: 0.9766vh;
			padding-left: 0.6944vw;
			border: 1px solid lightgrey;
			border-radius: 8px;
			font-size: 1.5625vh;
			color: #6d6f71;
			&:focus {
				outline: none;
			}
		}

		.input_title {
			width: 100%;
			margin-bottom: 0.4883vh;
			color: #282828;
		}
	}

	&_close {
		width: 7.6736vw;
		height: 4.1016vh;
		border: 1px solid #6d6f71;
		border-radius: 4px;
		color: #6d6f71;
		background-color: #fff;
		@include flex;
	}
}

.request_modal.modal-open {
	background-color: rgba(0, 0, 0, 0.5);
}
