.list_wrapper {
	width: 100%;
	margin: 3.13vh 0;
	border: none;
	border-radius: 8px;

	.requests_list {
		width: 100%;
		margin-top: 1vh;
		padding: 0 1vw;
		background: #fff;
		@include column-flex;

		.contents_top {
			display: grid;
			grid-template-columns: 1fr 3fr 3fr 5fr 4fr 6fr 4fr 4fr;
			grid-template-rows: 50px;
			width: 100%;
			justify-items: left;
			align-items: center;
			border-bottom: 1px solid #e6e6e6;
			color: #6d6f71;
			font-weight: 600;
		}

		.contents {
			display: grid;
			grid-template-columns: 1fr 3fr 3fr 5fr 4fr 6fr 4fr 4fr;
			grid-auto-rows: minmax(50px, auto);
			width: 100%;
			padding: 1.5vh 0;
			border-bottom: 1px solid #e6e6e6;
			justify-items: left;
			align-items: center;

			.requests_status {
				width: 65px;
				height: 30px;
				border: none;
				border-radius: 4px;
				background: #def1ff;
				font-size: 0.9em;
				color: #065fd4;
				@include flex;
			}

			.requests_edit {
				width: 80px;
				height: 30px;
				border: 1px solid #d9d9d9;
				border-radius: 4px;
				background: #fff;
				font-size: 0.9em;
				color: #6d6f71;
				@include flex;

				img {
					margin-right: 3px;
				}
			}
		}

		.contents_empty {
			margin-top: 5vh;
		}
	}
}

span {
	.text {
		display: block;
		font-weight: 600;
		color: #6d6f71;
		text-align: center;
	}
	.text--long {
		text-align: left;
	}
}

p {
	display: block;
	color: #065fd4;
	text-align: center;
}

.btn_submit {
	width: 110.5px;
	height: 42px;
	margin: 10px;
	border: 1px solid #065fd4;
	border-radius: 4px;
	color: #fff;
	background-color: #065fd4;
}

.btn_delete {
	width: 100px;
	height: 35px;
	border: 1px solid #6d6f71;
	border-radius: 4px;
	color: #6d6f71;
	background-color: #fff;
}
