* {
	font-family: pretendard;
}

input {
	padding-left: 1vh;
}

.sign-up {
	width: 100vw;
	height: 100vh;
	background: #f9f9f9;
	@include flex;

	.wrapper {
		width: 42.2vh;
		height: 50vh;
		border-radius: 8px;
		background: #ffffff;
		.header {
			margin: 2vh;
			@include flex;
			.sign-up-header-logo {
				width: 12vh;
			}
		}
	}
}

.sign-up-content {
	margin-bottom: 3vh;
	@include column-flex;

	.content {
		font-size: 2vh;
	}
}

.input-name {
	width: 17.5vh;
	height: 5vh;
	border: 1px solid lightgrey;
	margin: 0 0.7vh;
	border-radius: 8px;
	font-size: 1.5vh;
}

.input-email-password {
	width: 36.5vh;
	height: 5vh;
	border-radius: 8px;
	border: 1px solid lightgray;
	margin-top: 1vh;
	font-size: 1.5vh;
}

.sign-up-footer {
	margin: 7vh 2vh;
	@include flex(between);
	.footer-sign-in {
		font-size: 1.5vh;
		color: #065fd4;
	}
	.sign-up-btn {
		color: #fff;
		font-size: 1.5vh;
		background: #065fd4;
		border: none;
		width: 11vh;
		height: 4vh;
		border-radius: 4px;
		cursor: pointer;
	}
}
